<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <div class="row">
    <div class="skinny_wrapper wrapper_padding">
      <h1 id="page_title">Oturum Aç !</h1><hr>

          <div class="form-group">
              <%= f.label :email %><br />
             <%= f.email_field :email,class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>
          
          <div class="form-group">
              <%= f.label :parola %>
             <%= f.password_field :password,class:"form-control",autocomplete: "off" %>
          </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :beniunutma%>
              </div>
            <% end %>
          
          <div class="actions">
            <%= f.submit 'GİRİŞ YAP', class: "btn btn-block btn-default btn-md" %>
          </div>
        
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>    
<% end %>


<%= render 'shared/footer'%>