<div class="container"><br>
  <div class="jumbotron">
    <h1 class="display-3">Trust yourself and step forth...</h1>
    <p class="lead">Dünyada paylaştığın her şeyde sana düşen pay azalır. Paylaştıkça çoğalan yegane şey bilgidir. 
      Bu vesile ile okurlara selam ederim.</p>
    <hr class="my-4">
    <p>Bu sitenin kaynak kodlarına GitLab sayfamdan ulaşabilirsiniz... </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://gitlab.com/ylmazmehmet60" role="button">Ziyaret Et</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-8">
       <div class="well">
         
         
        <% @posts.each do |post| %>
        <div id="post_show_content" class="skinny_wrapper wrapper_padding">
        	<header>
        		<p class="date"><%=post.created_at%></p>
        		<h1><%=post.title%></h1>
        		<p class="date"><%=post.user.name%> tarafından yayınlandı</p>
        		<p><%=post.category.name%> bölüne ait</p>
        		<hr >
        	</header>
       
        <h5>
            <span class="glyphicon glyphicon-thumbs-up"></span> (<%=post.likes.count%>) beğeni&nbsp;  
            <% if post.comments.count>0 %>
                      <span class="glyphicon glyphicon-comment"></span>
                     (<%= post.comments.count%>) yorum 
             <%end%>    
        </h5>
                         
        	<div id="content">
        	<%=image_tag post.image.url(:medium),class:"img img-responsive" if post.image?%>  
        	<p><%=post.msg%></p>
        	<div class="show-more">
             <%=link_to 'Devamını Oku',post%>
           </div>
           
        <div class="action">
            <div id="<%=post.id%>">
                    <%if Like.where(user:current_user, post:post).count>0%>
                        <%= link_to "", unlike_post_path(post), class:"glyphicon glyphicon-heart",remote: :true, method: :put %>
                       
                    <%else%>
                        <%= link_to "", like_post_path(post), class:"glyphicon glyphicon-heart-empty",remote: :true, method: :put %>
                       
                    <%end%>
            </div>
        </div>
        
           <br>
            <%= link_to 'Yorumları Göster ', post ,class:'fa fa-eye'%>
        </div>
        <div id="share_box">
        	<p>Paylaş</p>
        	<a href="#"><i class="fa fa-facebook"></i></a>
        	<a href="#"><i class="fa fa-twitter"></i></a>
        	<a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
        </div>
      <hr>
      <%end%>  
      </div>
    </div>
	  <div class="col-md-4">
	    <div class="well">
	        <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="arayın..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
           <hr> 
          <p align="center">
            &nbsp;<a class="btn btn-primary social-login-btn" href="https://www.facebook.com/mmt3d"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-primary social-login-btn" href="https://twitter.com/mmt3d"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-primary social-login-btn" href="https://tr.linkedin.com/mmt3d"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-primary social-login-btn" href="https://plus.google.com/u/0/+MehmetY%C4%B1lmazxd"><i class="fa fa-google-plus"></i></a>
          </p>
          <hr>
              	<div class="col-md-12" align="center">
                        <img src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/26903639_10156087790553624_4729927528095548795_n.jpg?_nc_cat=0&oh=4aaccf59dda6e759b1c7525c89db5cb5&oe=5B94BE82" id="img-logom" class="img-circle" alt="aboutme">
                        <p></p>
                        <p align="center">Mehmet Yılmaz | Fırat Üniversitesi</p>
                        <p></p>
                </div>  
          <hr>
           <% @g1='Genel Yazılar'%>
          
          <div class="col-md-12">
            <div id="sidebar" class="well sidebar-nav">
                <h5><i class="glyphicon glyphicon-qrcode"></i>
                    <small><b>PROGRAMMING</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                  <% @cat[1..(@cat.count)-1].each do |cat| %>
                      <li><a href="posts?category=<%=cat.name%>"><%=cat.name%>(<%=Post.where(category_id: Category.find_by(name: cat.name)).count %>)</a></li>
                  <%end%> 
                </ul>
                <h5><i class="glyphicon glyphicon-edit"></i>
                    <small><b>GENEL</b></small>
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/posts?category=Genel+Yazılar"><%=@g1%> (<%=Post.where(category_id: Category.find_by(name:@g1)).count %>)</a></li>
                </ul>
            </div>
        </div>
        
        <hr>
        <div class="homepage_content">
          <hr>
          		<h2>Yazılar</h2>
                  <hr>
                   <% @posts2.each do |post| %>
                      <p><%= link_to post.title, post %></p>
                  <%end%> 
          </div>
          <hr>
        
	    </div>  
	  </div>
	  
  </div>
</div>

<p id="notice"><%= notice %></p>
<%= render 'shared/footer'%>
